// Variables
$gray-darker: lighten(#000, 13.5%);
$gray-dark: darken(rgb(96, 101, 113), 0%);
$table-bg-accent:#fbfbfb;
$table-border-color:#EDEEF0;
$table-bg-hover:#fafafa;
$input-border-focus: lighten($brand-primary, 20%) !default;